<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kaomi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/index.css}" />
    <script src="main.js"></script>
</head>
<body>
    <img class="back" th:src="@{/img/dog.jpg}" />
    <div class="content">
    	<form action="#" th:action="@{/cadastro}" th:object="${credenciais}" method="post" onsubmit="return validaForm(this);">
            <img class="logo" th:src="@{/img/logo.png}" >
        <div class="iDiv">
            <input class="iLogin" placeholder="Login" type="text" th:field="*{usuario}" id="usuario" >
            <input class="iSenha" placeholder="Senha" type="text" th:field="*{senha}" id="senha" >
        </div>
        <div class="bDiv" >
            <button class="iButtonEnt" onclick="ent();" >Entrar</button>
            <button class="iButtonCad" >Cadastrar</button>
        </div>
        </div>
        </form>
    </div>
    
</body>
<script>
	function ent(){
		window.location = "/login";
	}
</script>
</html>