<!DOCTYPE html>
<html>
<head>

<title>Biboo - Matches</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/png" href="img/biboo.png"/>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script language="JavaScript" src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<script language="JavaScript" src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script language="JavaScript" src="https://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/match.css">
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css">
</head>
<body>
	<aside id="colorlib-aside" role="complementary" class="js-fullheight text-center">
        <h1 id="colorlib-logo"><a href="index.html"><span class="img" style="background-image: url(img/author.jpg);background-size: cover;background-repeat: no-repeat;background-position: center center;"></span><p style="color: orangered; font-size: 18px">Carlos PH</p></h1>
        <nav id="colorlib-main-menu" style="float: left;width: 67%;text-align: -webkit-auto;padding-right: 13px;" role="navigation">
            <ul>
                <li style=" margin-top: 16px;"><a style="color: orangered; font-size: 16px" href="blog-home.html">Home</a></li>
                <li style=" margin-top: 16px;"><a style="color: orangered; font-size: 16px" href="atualiza_perfil.html">Atualizar Perfil</a></li>
                <li style=" margin-top: 16px;"><a style="color: orangered;font-size: 16px" href="perfil_cachorro.html">Cadastrar Dog</a></li>
                <li style=" margin-top: 16px;"><a style="color: orangered;font-size: 16px" href="services.html">Configurações</a></li>
                <li style=" margin-top: 16px;"><a style="color: orangered;font-size: 16px" href="home_page.html">Sair</a></li>
            </ul>
        </nav>
    </aside>
<div class="container" style="margin-left: 33rem;">
	<div class="row">
		<h2 class="text-center">Relatório de Match</h2>
	</div>
        <div class="row">
            <div class="col-md-12">
            
            
<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    				<thead>
						<tr>
							<th>Meu dog</th>
							<th>Data do Match</th>
							<th>Deu Match</th>
							<th>Idade</th>
							<th>Telefone</th>
							<th>E-mail</th>
						</tr>
					</thead>

					<tfoot>
						<tr>
							<th>Meu dog</th>
							<th>Data do Match</th>
							<th>Deu Match</th>
							<th>Idade</th>
							<th>Telefone</th>
							<th>E-mail</th>
						</tr>
					</tfoot>

					<tbody>
						<tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
						
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
                            
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bigbig</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
                            <tr>
							<td>Bob</td>
							<td>24/06/2019</td>
							<td>Meggie</td>
							<td>14</td>
							<td>1157408638</td>
							<td>meggie_14@gmail.com</td>
						</tr>
					</tbody>
				</table>

	
	</div>
	</div>
</div>
    </body>

    <script>
    	$(document).ready(function() {
    $('#datatable').dataTable();
    
     $("[data-toggle=tooltip]").tooltip(); 
 } );
    </script>
</html>